interactions:
- request:
    body: '{"userQuery":"What language is the most spoken amongst superheroes?"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://dev.snowleopard.ai/api/self/datafiles/superheroes_dfid/proxy/retrieve
  response:
    body:
      string: '{"callId": "da8f886c-9a89-45cc-8c5a-cc4beda54357", "responseStatus":
        "NOT_FOUND_IN_SCHEMA", "description": "The data doesn''t exist in the schema
        to answer this question. Please review the schema and ask a different question.",
        "__type__": "apiError"}'
    headers:
      content-type:
      - application/json
      x-cloud-trace-context:
      - 53d844fd5fb98d5e91a73c4411f622e7;o=1
    status:
      code: 409
      message: Conflict
version: 1
